html {
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

.nav {
    width: 100%;
    height: 3em;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: fixed;
    top: 0;
}

.nav a {
    margin: 0;
    text-decoration: none;
    color: inherit;
    padding: 0;
}

@media (max-width: 767px) {


    .content h1 {

    }
}

.nav div {
    flex: 1;
    height: 100%;
    float: left;
    text-align: center;
    border: none;
    vertical-align: center;
}

.nav h1 {
    font-size: 20px;
}

.nav .active {
    background-color: white;
}

.nav div:not(.active) {
    background-color: lightgrey;
}

.nav .feedback:hover {
    background-color: #FEA621;
    cursor: pointer;
}

.nav .about-us:hover {
    background-color: #F01485;
    cursor: pointer;
}

.content {
    height: 100%;
    width: 75%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content .logo {
    height: 50%;
    width: 50%;
    min-height: 150px;
    min-width: 150px;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto;
}

.sp-button {
    padding: 1em;
    margin: 1em;
    background-color: #FEA621;
    min-width: 7em;
    width: 20%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 0.5em solid #FEA621;
    border-radius: 1em;
    text-align: center;
    color: white;
}

.sp-button.get-started:hover {
    cursor: pointer;
    background-color: #d58620;
    border-color: #d58620;
}

.sp-button a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 767px) {
    .wrapper {
        background-image: url("assets/Desktop%20Background.svg");
        margin-top: 3em;
    }

    .content {
        margin-top: 3em;
    }

    .mobile-nav {
        display: none;
    }
}

@media (max-width: 767px) {
    .wrapper {
        background-image: url("assets/Mobile%20Background.svg");
    }

    .nav {
        display: none;
    }

    .content .logo {
        padding: 0;
        margin-top: 0;
    }

    .content h1 {
        margin: 0;
        font-size: 1.5em;
    }

    .sp-button {
        margin-bottom: 0.5em;
        padding: 0.5em;
    }

    .mobile-nav {
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: black;
        margin-bottom: 2em;
    }

    .mobile-nav div {
        margin-bottom: 0.5em;
    }

    .mobile-nav a {
        text-decoration: underline;
        color: inherit;
        cursor: pointer;
    }
}